h1{
    text-align: center;
}

body{
    background: #E6E6FA ;
  }
  
  .navbar{
      background-color: #E6E6FA;
  }
  
  .nav-item{
      color:#FFF;
  }
  
  .fdss{
    border: 2px #000 solid;
    background-color: #E6E6FA;
    color: rgb(0, 0, 0);
  }
   
  
  
  
  